html{
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    overflow-x: hidden;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    width: 100vw;
    height: 100vh;
    
}

body{
    display: block;
    font-family: inherit;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    padding: inherit;
    width: 100vw;
    height: 100vh;    
}

#cntWallpaper{
    position: fixed;
    top: 0;
    background-image: url(/imágenes/WpHojasRojas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* Header con logo y enlaces */
#cntPadHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 80%;
    margin: 0% 10% 0% 10%;
}

#cntPadHeader:hover{
    background-color: rgb(88, 86, 86, 0.2);
}

/* Contenedor izq */
#cntHeader{
    display: flex;
}

#dvHeader1{
    display: flex;
    align-items: center;
}

/* Logotipo Microsoft */
#dvLogo{
    display: flex;
    flex: row;
    min-width: 11em;
}
#microsoft{
    font-size: 20px;
    font-weight: 500;
    margin: 0.5em 3em 0em 0em;
    min-width: 140px;
    color: white;
}
#cuadrados{
    margin-top: 0.8em;
    width: 30PX;
    height: 30PX;
}

/*Color al cuadrado del logo*/
.top_l{
    fill: #f26522;
}
.top_r{
    fill: #8dc63f;
}
.bom_l{
    fill: #00aeef;
}
.bom_r{
    fill: #ffc20e;
}

/* Clase genérica de contenedor */
#dvHeader2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Clase genérica enlaces */
.enlCabecera{
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    font-size: 13px;
    margin: 0em 1.4em 0em 0.5em;    
}

/* Iconos de la cabecera */

#iconLogin {
 margin: 0em 1em 0em -1em;
 scale: 0.7;
}

#iconRecompensas{

    margin: 0em 0.5em 0em -0.5em;
    filter: invert(100%);
    width: 1em;
}

#barrasMenu{
    width: 1.8em;
    margin: 0em 1em 0em 3em;
}

/* Barra del buscador con los iconos*/
.cntdivBuscador{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 35em;
    height: 3.3em;
    border-radius: 1.7em;
    margin: 11em 25% 0em 22%;
}

.txtBusqueda{
    border-style: none;
    width: 72%;
    height: 90%;
    margin: 2px 0px 0px 20px;
    font-size: 17px;
    outline: none;
}

#iconBarraBuscador{
    display: flex;
}

.icnBusquedas{
    margin: 1em 1.3em 0em 0em;
    width: 1em;
    height: 1em;
}

#iconMicro{
    filter: invert(29%) sepia(78%) saturate(1452%) hue-rotate(161deg) brightness(102%) contrast(104%);
    width: 1.5em;
}

#iconBusquedaFotos{
    width: 1.5em;
}
    
#iconTeclado{
    width: 1.6em;
}

/* Contenedor principal de noticias */

#cntNoticias{
    margin: auto;
    margin-top: 25em;
    width: 70%;
    height: 35em;

}

/* Selector de fonde de pantalla */
#cabeceraSelectorVarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3em;
    margin: auto;
}

#posInfoWallpaper{
    display: inline-block;
    margin-right: 0.2em;
    width: fit-content;
    background-color:  rgba(34,34,34,.9);

}

.cntFlechas{
    display: flex;
}

.navegacion{
    width: 2.5em;
    height: 2.5em;
    background-color:  rgba(34,34,34,.9);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

#posicioncambioWallpaper{
    display: flex;

}

.flechasCambioWallpaper{
   display: flex;
}

#txtposicion{
    display: block;
    margin: 0.5em 0em 0em 1.5em;
    text-decoration: none;
    color: white;
    padding-left: 0.5em;
    padding-right: 1em;
}

#iconPosicion{
    position: absolute;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(103%) contrast(101%);
    margin: 0.7em 0em 0em 0.4em;
}

.flechas{
    width: 2.5em;
    height: 2.5em;
    background-color:  rgba(34,34,34,.9);
    border-radius: 6px;
    cursor: pointer;
}

.iconflecha{
    width: 1.4em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg) brightness(103%) contrast(101%);
    transform: scale(.8);
    margin: 0.5em 0em 0em 0.5em;
}
#flecha1{
    margin-right: 0.1em;
}
#flchCierre{
    transform: scale(.8) rotate(270deg);
    margin: 0.5em 0em 0em 0.5em;
   
}

#flchDerecha{
    transform: scale(.8) rotate(180deg);
    margin: 0.5em 0em 0em 0.6em;
}

/* Flechas de Carrusel de noticias*/

.flechasCarrusel{
    
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border-radius: 6px;
    cursor: pointer;
}

#flechaDerechaCarrusel{
    margin-top: 32em;
    margin-left: 104em;
    transform: scale(1.5) rotate(-90deg);
}

#flechaIzquierdaCarrusel{
    margin-top: 32em;
    margin-left: 13em;
    transform: scale(1.5) rotate(90deg);
}

/* Contenedor de Ultimas Noticias */

#cntUltimasNoticias{
    display: block;
    height: 8em;
}

#menuUltimasNoticias{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: -2.4em;
}

#enlacesUltimasNoticias{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-right: 0.2em;
    border-radius: 10px;
    overflow: hidden;
}

.temaEnlaceNoticias{
    display: block;
    position: relative;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.7em;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
    background-color:  rgba(34,34,34,.9);
}

.imgNoticias{
    width: 100%;
    height: 100%;
}

/* Noticas Destacadas */

#menuNoticiasDestacadas{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: -2.4em;
    gap: 0.7em;
}

.enlacesNoticiasDestacadas{
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
}

